{% assign item = include.item %}
{% assign paper_link = item.links['Paper'] | default: item.links['paper'] %}
<article class="pub-row">
    <div class="pub-badge">{{ item.pub_date | default: item.date | date: "%Y" }}</div>
    <div>
        {% if paper_link %}
        <h3 class="pub-title">
            <a href="{{ paper_link }}" target="_blank" rel="noopener" class="publication-title-link" data-en="{{ item.title | escape }}" data-zh="{{ item.title_zh | escape }}"><span class="title-text">{{ item.title }}</span></a>
        </h3>
        {% else %}
        <h3 class="pub-title publication-title" data-en="{{ item.title | escape }}" data-zh="{{ item.title_zh | escape }}">{{ item.title }}</h3>
        {% endif %}
        <p class="pub-authors">{% include widgets/author_list.html authors=item.authors %}</p>
        <p class="pub-venue"><span class="pub-venue-text" data-pub-pre="{{ item.pub_pre | escape }}" data-pub-en="{{ item.pub | escape }}" data-pub-zh="{{ item.pub_zh | default: item.pub | escape }}" data-pub-post="{{ item.pub_post | escape }}">{{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }}</span><span class="pub-venue-misc" data-en="{{ item.pub_last | escape }}" data-zh="{{ item.pub_last_zh | default: item.pub_last | escape }}">{{ item.pub_last }}</span><span data-semantic-scholar-id="{{ item.semantic_scholar_id }}"></span></p>
        {% unless include.hide_abstract %}
        <p class="pub-abstract" data-en="{{ item.abstract | escape }}" data-zh="{{ item.abstract_zh | escape }}">{{ item.abstract }}</p>
        {% endunless %}
        <p class="abstract-links" data-links-en='{{ item.links | jsonify }}' data-links-zh='{{ item.links_zh | jsonify }}'>
            {% for link in item.links %}
            {% if link[1].url %}
            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">{{ link[0] }}</a>
            {% else %}
            <a target="_blank" rel="noopener" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endif %}
            {% endfor %}
        </p>
    </div>
</article>
